<!--
Created by simon on 2016/09/12.
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--  关键词收拾联想 -->
	<meta name="description" content="嘟嘟巴士是国内专业的智能公共出行平台，利用互联网技术为都市人群提供上下班通勤巴士、包车、周边游用车、直通车等智能化、高品质的出行服务，践行绿色出行理念，缓解城市交通拥堵，优化城市布局，构筑邻里社群。嘟嘟巴士始终温暖守护，伴你每次出行。"  />
    <meta name="keywords" content="嘟嘟巴士,互联网巴士,嘟嘟,企业班车,深圳包车,包车拼车,企业包车" />

	<link rel="stylesheet" href="../../Css/bootstrap.min_6c8ae80.css">
	<link rel="stylesheet" href="../../Css/reset_61f843f.css">
    <link rel="stylesheet" href="../../Css/common_2713b0a.css">
	<link rel="stylesheet" type="text/css" href="../../Css/aboutus_e06eea3.css">

	<script type="text/javascript" src="../../Scripts/template_404a564.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-min_310236f.js"></script>
	<script type="text/javascript" src="../../Scripts/include_57bf689.js"></script>
	<script type="text/javascript" src="../../Scripts/rem_889480d.js"></script>
	<script type="text/javascript" src="../../Scripts/617c9990919d409fbcc64f412166a66a.js"></script>

	<title>关于我们-嘟嘟巴士</title>

	<!-- 引入头部文件 -->
   	<script>include("../../html/headerfooter/header.html");</script>
 </head>

<body>
<div class="aboutus">

    <!-- 头部大图 -->
	<img class="first_img pc_banner" src="../../Picture/pc_aboutus_banner_51f728a.jpg">
	<img class="first_img phone_banner" src="../../Picture/phone_aboutus_banner_28dce1e.jpg">
	<!-- 公司简介 -->
	<div class="m_p_center m_l_40">
		<i class="sm_line"></i>
		<span class="f_z_22 color_333">公司简介</span>
		<p class="m_l_40 text_indent">巴士助理是杭州走啊科技有限公司自主研发的一站式多元化出行调度平台。通过一年的市场摸底调研市场，汇集车队需求而研发此产品。我们秉着解决车队调度难题的同时以“互联网+巴士”的模式，联合各大巴士运输企业，利用强大的线上线下运营能力，为都市人群提供高品质、更便捷的出行服务，践行绿色出行理念，缓解城市交通拥堵，共建美好出行。</p>
		<p class="m_l_40 text_indent">公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决中国的出行和环保挑战; 提升用户体验，创造社会价值，建设高效、可持续的移动出行新生态。</p>
	</div>
    <!-- 嘟嘟巴士大事件 -->
	<div class="m_p_center m_l_80">
		<i class="sm_line"></i>
		<span class="f_z_22 color_333">嘟嘟巴士大事件</span>

		<ul id="dd_bigs" class="m_l_40 b_g"> </ul>
		<ul id="dd_bigs_iphone" class="m_l_40 b_g"> </ul>
 	</div>
	<!-- 社会责任 -->
 	<!-- <div class="m_p_center m_l_20">
		<i class="sm_line"></i>
		<span class="f_z_22 color_333">社会责任</span>
		<p class="m_l_40 l_h_m">嘟嘟巴士通过移动互联网改变了传统出行方式，让人们的上下班与出行变得更方便。定时定点一人一座不仅帮助乘客节省时间的同时，还大幅度提高了交通资源的使用率，响应国家节能减排。</p>
	</div> -->
	<!-- 联系我们 -->
	<div class="b_g m_p_center m_l_10">
		<i class="sm_line"></i>
		<span class="f_z_22 color_333">联系我们</span>
		<div class="m_l_40 color_666">
			<p class="company_title">杭州走啊科技有限公司</p>
			<p class="company_info">联系电话 : 0571-85303047</p>
			<p class="company_info">邮箱 : shuaiqun@bushuzhuli.com</p>
			<p class="company_info">地址 : 杭州市下城区东新路中大银泰城5幢910</p>
		</div>
		<div class="map_info">
			<div id="bd_map" class="map"> </div>
    		<!-- <div id="contactusIMG" class="masking"> </div>
    		<div id="contactusIMG" class="masking_text">
    			<p class="f_z_16 m_l_10">乐途宝网络科技有限公司</p>
				<p class=" m_l_10">联系电话 : 4008-520084</p>
				<p class=" m_l_10">邮箱 : winwin@dudu84.com</p>
				<p class=" m_l_10">地址 : 深圳市南山区深南大道9966号威盛科技大厦</p> </div> -->
		</div>
    </div>

    <div class="bg m_l_80"></div>
</div>

<!-- 友盟统计 -->
<div style="display:none">
	<script src="../../Scripts/z_stat.js" language="JavaScript"></script>
</div>

<!-- 引入底部文件 -->
<script>include("/html/headerfooter/footer.html");</script>
<!-- 嘟嘟大事件 模板 pc-->
<script type="text/html" id="ddbus_bigs">
    {{each}}
        <li class="dateevent">
			<img class="redcircle" src="../../Picture/redcircle_695588a.png">
			<div class="datetime">
				<p class="f_z_16">{{$value.year}}</p>
				<p class="f_z_32 m_l_f8">{{$value.month}}</p>
			</div>
			<div class="eventcontent">
				<p class="f_z_20 color_333">{{$value.title}}</p>
				<p class="m_l_10 l_h_18">{{$value.content}}</p>
				<!-- {{if $value.content }}
					<p class="m_l_10 l_h_18">{{$value.content}}</p>
				{{else}}
				  	<p class="m_l_10 l_h_18">	</p>
				{{/if}} -->
			</div>
			</div>
		</li>
    {{/each}}
</script>
<!-- 嘟嘟大事件 模板 iphone-->
<script type="text/html" id="ddbus_bigs_iphone">
    {{each}}
        <li class="dateevent">
			<img class="redcircle_iphone" src="../../Picture/redcircle_iphone_8ad313f.png">
			<div class="p_d_e">
				<p class="color_f51e41 f_z_14">{{$value.year}}年{{$value.month}}月</p>
				<p class="m_l_20 f_z_14 color_333 l_h_cm">{{$value.title}}</p>
				<p class="m_l_10 l_h_18">{{$value.content}}</p>
				<!-- {{if $value.content }}
					<p class="m_l_10 l_h_18">{{$value.content}}</p>
				{{else}}
				  	<p class="m_l_10 l_h_18"> </p>
				{{/if}} -->
			</div>
		</li>
    {{/each}}
 </script>

<script type="text/javascript">
	//JS控制导航栏“首页”红色横线
    $('.nav ul #nav_li3').addClass('active').siblings().removeClass('active');
//  $('.nav ul #nav_li6 .dropDown #aboutus1').css({"color":'#f51e41'});
//	$('.nav ul #nav_li6 .title').text($('.nav ul #nav_li6 .dropDown #aboutus1').text());

	//初始化
	$(function() {
		initbd_map();
	})

	/*
	 * 初始化地图
	 * */
	function initbd_map(){

	    // 百度地图API功能
	    map = new BMap.Map("bd_map");// 初始化地图
		var point = new BMap.Point(113.946707,22.54612);
	    map.centerAndZoom(point, 18);
	    map.addControl(new BMap.NavigationControl()); //添加默认缩放平移控件

	    map.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
	    map.defaultOffset = new BMap.Size(100, 10);

  	 	//创建自定义图标
	    var myIcon = new BMap.Icon('/images/public/map_loca_85778a5.png', new BMap.Size(30, 50));

	    //重新添加自定义标注
	    var marker = new BMap.Marker(point,{icon:myIcon});
	    //marker上存储相关站点信息
	    map.addOverlay(marker);
	    map.addControl(new BMap.NavigationControl()); //添加默认缩放平移控件

	}

	var tempData = [
    	{month:"01",year:"2015",title:"深圳市乐途宝网络科技有限公司成立",content:""},
    	{month:"04",year:"2015",title:"嘟嘟巴士正式上线，开通首条定制巴士线路",content:"经过近3个月的调研与准备，嘟嘟巴士于4月底正式上线运营，定制服务模式一经推出便备受市场关注及用户认可，迅速聚集第一批种子用户；同期推出官方微信服务号及Android 1.0版本。"},
    	{month:"06",year:"2015",title:"获得1200万元Pre-A轮融资",content:"拿到种子及天使轮后，嘟嘟巴士团队在保持强执行力的节奏中不断升级巴士服务和体验，顺利完成Pre-A轮融资，由梅花创投、险峰华兴联合投资。"},
    	{month:"08",year:"2015",title:"第一条定制线路运营100天，七夕节感恩回馈用户",content:"2015年的中国传统七夕节，第一条定制线路用户与嘟嘟团队喜迎百日感恩活动，在被玫瑰花、巧克力、早餐搭档包围的欢乐氛围里获得不同于传统公交的社交出行体验。"},
    	{month:"09",year:"2015",title:"完成5200万元A轮融资，发力巴士出行平台",content:"经过不到半年的发展，嘟嘟巴士已在北京、广州、北京等一线城市开通线路，并把巴士场景从上下班覆盖至了周边游、直通车、机场快线等。此次轮融资由华兴Alpha担任独家财务顾问。"},
    	{month:"10",year:"2015",title:"全新升级Android及iOS版本，获苹果官方推荐",content:"不断迭代优化产品，增加实用功能，保证线上、线下用户体验的提升。"},
    	{month:"03",year:"2016",title:"使用新能源车作为线路运营车辆，绿色出行守护蓝天",content:"嘟嘟巴士紧抓新能源绿色出行风口，布局产业，首先采用新能源电动巴士作为运营车辆，对比汽油或柴油客车，电动巴士能有效节能减排70%以上。车内环境相对柴油车也更加舒适环保。"},
    	{month:"05",year:"2016",title:"获得1亿元B轮融资，致力于打造智能公共出行平台",content:"上线不到一年时间，嘟嘟巴士完成由上市公司彩虹精化（002256）领投，国信基金等机构跟投的B轮1亿元融资。此次与彩虹精化的合作，将进一步整合新能源全产业链，构筑充电桩、电动车、运营平台、维护保养、投资一体化、规模化发展的战略格局。"},
    	{month:"08",year:"2016",title:"上海举办主题为“智慧出行，重新定义”战略升级发布会",content:"嘟嘟巴士推出“出行服务标准2.0”概念，重新树立行业标杆，从细节上深耕巴士生活圈社交，引入多场景增值服务，未来将定位为“城市出行的服务商”，成为链接家、公共场所、公司的城市纽带。"}
    ];

    //嘟嘟大事件添加
    //网页版
    var html = template('ddbus_bigs',tempData);
	$('#dd_bigs').html('').append(html);
	//手机版
	var html_iphone = template('ddbus_bigs_iphone',tempData);
	$('#dd_bigs_iphone').html('').append(html_iphone);

</script>
<script src="../../Scripts/header.js"></script>
</body>
</html>
